<% head_info('Leaf Farm Demo Menu', 'Demo menu for Leaf Farm', image_url('logos/leaf_farm_with_text_logo.png'),
             'product', 'leaffarm-demo.herokuapp.com', dispensary_menu_url) %>


<div class="container main_content" id="dispensary_menu">
  <h2 class="text-center">Menu</h2>

  <%= render :partial => 'specials/list' %>


  <% @menu.quick_menu.each do |title, products| -%>
    <%= render partial: 'dispensary_menus/partials/jump_to_select', locals: {section: title.downcase} %>

    <h3 id="<%= title %>" class="text-center"><%= title %></h3>

    <% products.in_groups_of(2) do |prod_group| -%>
      <div class="row product_row">

        <% prod_group.each do |prod| -%>
          <% if prod -%>
            <div class="col-md-6 leafly_product">
              <div class="col-xs-8">
                <h4><%= prod.name %></h4>
                  <p>
                    <%= prod.description %>
                  </p>



              </div><!-- col -->

              <div class="col-xs-4 pricing">
                <ul class="price_list">
                  <!--<li style="border-bottom-width:0px;">(click to order)</li>-->
                  <% prod.pricing_array.each do |price| -%>
                    <li>
                      <%= link_to order_push_path(1), :remote => true do %>
                        <%= price['Unit'] %>:
                        <strong><%= number_to_currency(price['Price'], :unit => '') %></strong>
                      <% end %><!-- link -->
                    </li>
                  <% end -%>
                </ul>



                <% if prod.has_source_image? -%>
                  <div class="link_to_leafly_strain text-center">
                    <%= link_to leafly_strain_url(prod), :target => '_blank' do %>
                      <%= image_tag prod.source_image_path, style: 'height:100px;' -%>
                      <%= content_tag(:h5, prod.category) if prod.category%>
                    <% end %>
                  </div>
                <% end -%>

              </div><!-- col -->
              <div class="clearfix"></div>
            </div><!-- big col -->
            <% if prod_group.index(prod) == 0 && !prod_group[1].nil? #if it is the first of two products in
                 #the group AND there ARE 2 products in the
                 #group(the second product is not nil), put this faux border
                 #at the bottom, for after collapse. -%>
              <div class="leaf_farm_menu_faux_border_row"></div>
            <% end %>
            <%# else #for the nil on the last product in the group %>
            <!--<div class="col-md-6 leafly_product hide empty_row"></div>-->
          <% end #if %>

        <% end %>
      </div><!-- row -->

    <% end -%>
  <% end -%>
</div><!-- container -->
</div><!-- leafly_menu -->

<%= render :partial => 'parts/footer' %>


<script>

  function jumpToSelectJump(){
    $('.jump_to_select').change(function(e){
      location.hash = '#' + $(this).val();
      window.scrollBy(0, -125);

      //reset the jump_to selects
      $('.jump_to_select').each(function() {
        $(this).val('');
      })

    })
  }

  ready_methods.push(jumpToSelectJump)
</script>