<!DOCTYPE html>
<html>
<head>
  <%= render 'parts/head' %>
</head>

<body>
<%= facebook_sdk(fb_app_id) %>

<%= render 'parts/top_nav' %>

<%= render 'parts/the_flash' %>

<%= render 'parts/header' %>

<%= yield %>

<%= render 'parts/footer' %>

<script>
  doReadyMethods();
</script>

</body>
</html>
